<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      FIRE HARDENING AND DEFENSIBLE SPACE ADVISORY,DISCLOSURE, AND ADDENDUM
    </title>
    <style>
      * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
      }

      body {
        margin: 0;
        padding: 0;
        background-color: #fafafa;
        font: 13px "Tahoma";
      }
      li {
        list-style: none;
      }

      .page {
        width: 21cm;
        min-height: 29.7cm;
        padding: 0.5cm;
        margin: 1cm auto;
        border: 1px #d3d3d3 solid;
        border-radius: 5px;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      }

      @page {
        size: A4;
        margin: 0;
      }

      @media print {
        .page {
          margin: 0;
          border: initial;
          border-radius: initial;
          width: initial;
          min-height: initial;
          box-shadow: initial;
          background: initial;
          page-break-after: always;
        }
      }
    </style>
  </head>

  <body>
    <div class="page">
      <div class="header" style="width: 100%; text-align: center">
        <h4>
          FIRE HARDENING AND DEFENSIBLE SPACE ADVISORY,DISCLOSURE, AND ADDENDUM
        </h4>
        <p>(C.A.R. Form FHDS, 5/21)</p>
      </div>

      <div>
        This is an advisory, disclosure, and addendum to the Purchase Agreement,
        OR Other _____________________ (“Agreement”), dated:
        <span style="text-decoration: underline"><%= date %></span> , on
        property known as
        <span style="text-decoration: underline"
          ><%= userAnswerTemplate.property.addressLine1 %> <%=
          userAnswerTemplate.property.addressLine2 %> <%=
          userAnswerTemplate.property.city %> <%=
          userAnswerTemplate.property.zipCode %> <%=
          userAnswerTemplate.property.state.name %></span
        >
        (“Property”), in which
        __________________________________________________ is referred to as
        Buyer, and
        <span>
          <%= userAnswerTemplate.user.firstName %> <%=
          userAnswerTemplate.user.lastName %>
        </span>
        is referred to as Seller.
      </div>

      <div style="margin-top: 10px">
        <span style="font-weight: bold">
          1. FIRE HARDENING AND DEFENSIBLE SPACE ADVISORY:
        </span>

        <div style="margin-left: 25px; margin-top: 10px">
          <div>
            <span style="font-weight: bold">A. LAW APPLICABILITY:</span>
          </div>
          <ul>
            <li>
              <span style="font-weight: bold">Fire Hardening Disclosure:</span>
              The disclosures specified in paragraph 3 are only required for
              sellers of residential propertiesthat:(i)contain one to four
              units,(ii)constructed before January 1, 2010, and(iii)are located
              in either a high or very highfire hazard severity zone, if the
              seller is required to complete a Real Estate Transfer Disclosure
              Statement (C.A.R. Form TDS).
            </li>
            <li>
              <span style="font-weight: bold"
                >Defensible Space Compliance:</span
              >
              The disclosures and requirements specified in paragraph 4 are only
              required for sellersof residential properties that(i)contain one
              to four units and(ii)are located in either ahigh or very highfire
              hazardseverity zone, if the seller is required to complete a Real
              Estate Transfer Disclosure Statement (C.A.R. Form TDS).
            </li>
            <li>
              <span style="font-weight: bold"
                >Inspection Report including Fire Hardening/Defensible Space
                Compliance:</span
              >
              The disclosure of a final inspection reportobtained under the
              specifications in paragraph 5 is only required for sellers of
              residential properties improved with one tofour units if the
              seller is obligated to complete a Real Estate Transfer Disclosure
              Statement (C.A.R. Form TDS). Anyseller may be required to provide
              a copy of such a final inspection report pursuant to a contractual
              or voluntary disclosureor as a material fact.
            </li>
          </ul>
        </div>
      </div>
      <div style="margin-left: 25px">
        <span style="font-weight: bold">B. WHERE TO LOCATE INFORMATION:</span>
        <span
          >Seller has the obligation to determine if compliance with the fire
          hardening and defensiblespace requirements are applicable to Seller
          and the property. It may be possible to determine if a property is in
          ahigh or veryhighfire hazard severity zone by consulting with a
          natural hazard zone disclosure company or reviewing the company's
          report.This information may also be available through a local agency
          where this information should have been filed.</span
        >
        <div>
          <span
            ><span style="font-weight: bold; margin-top: 5px">C.</span> Even if
            the Property is not in either of the zones specified above, or if
            the Seller is unable to determine whether the Property isin either
            of those zones, if the Property is in or near a mountainous area,
            forest-covered lands, brush covered lands, grass-covered lands or
            land that is covered with flammable material, a Seller may choose to
            make the disclosures below because abuyer might consider the
            information material. A seller may voluntarily make the disclosures
            in paragraphs 3B and 4, even ifnot mandated by law.</span
          >
        </div>
      </div>
      <div style="margin-top: 10px">
        <span style="font-weight: bold">2. FIRE SEVERITY ZONE:</span>

        <div style="margin-left: 25px">
          <span
            >A. The home is in a high or very high fire hazard severity
            zone.</span
          >
          <div style="display: flex">
            <span>B.</span>
            <input type="checkbox" <%=
            questions[0].userAnswer.answer.toLowerCase() === "no" ? "checked" :
            "" %> />
            <span
              >The home is NOT in a high or very high fire hazard severity zone.
              Seller is providing this form as an advisory and, ifparagraph 3B
              is completed below as a voluntary disclosure.</span
            >
          </div>
        </div>
      </div>

      <div>
        <span style="font-weight: bold"
          >3. FIRE HARDENING DISCLOSURE (only required to be completed if
          criteria in 1A(1) are met):</span
        >
        <div style="margin-left: 25px">
          <div>
            <span style="font-weight: bold"
              >A. FIRE HARDENING STATUTORY NOTICE:</span
            >
            <span>
              “THIS HOME IS LOCATED IN A HIGH OR VERY HIGH FIRE HAZARD
              SEVERITYZONE AND THIS HOME WAS BUILT BEFORE THE IMPLEMENTATION OF
              THE WILDFIRE URBAN INTERFACE BUILDINGCODES WHICH HELP TO FIRE
              HARDEN A HOME. TO BETTER PROTECT YOUR HOME FROM WILDFIRE, YOU
              MIGHT NEEDTO CONSIDER IMPROVEMENTS. INFORMATION ON FIRE HARDENING,
              INCLUDING CURRENT BUILDING STANDARDSAND INFORMATION ON MINIMUM
              ANNUAL VEGETATION MANAGEMENT STANDARDS TO PROTECT HOMES
              FROMWILDFIRES, CAN BE OBTAINED ON THE INTERNET WEBSITE
              HTTP://WWW.READYFORWILDFIRE.ORG”.</span
            >
          </div>

          <div>
            <span style="font-weight: bold"
              >B. FIRE HARDENING VULNERABILITIES:</span
            >
            <span
              >Seller is aware of the following features that may make the home
              vulnerable towildfire and flying embers (check all that
              apply):</span
            >
            <div style="display: flex; align-items: flex-start">
              <span>(1) </span>
              <input type="checkbox" <%=
              questions[1].userAnswer.optionsKey["1.1"] ? "checked" : "" %> />
              <span
                >Eave, soffit, and roof ventilation where the vents have
                openings in excess of one-eighth of an inch or are not flame
                andember resistant.</span
              >
            </div>

            <div style="display: flex; align-items: flex-start">
              <span>(2) </span>
              <input type="checkbox" <%=
              questions[1].userAnswer.optionsKey["1.2"] ? "checked" : "" %> />
              <span
                >Roof coverings made of untreated wood shingles or shakes.</span
              >
            </div>

            <div style="display: flex; align-items: flex-start">
              <span>(3) </span>
              <input type="checkbox" <%=
              questions[1].userAnswer.optionsKey["1.3"] ? "checked" : "" %> />
              <span
                >Combustible landscaping or other materials within five feet of
                the home and under the footprint of any attached deck.</span
              >
            </div>

            <div style="display: flex; align-items: flex-start">
              <span>(4) </span>
              <input type="checkbox" <%=
              questions[1].userAnswer.optionsKey["1.4"] ? "checked" : "" %> />
              <span>Single pane or non-tempered glass windows.</span>
            </div>

            <div style="display: flex; align-items: flex-start">
              <span>(5) </span>
              <input type="checkbox" <%=
              questions[1].userAnswer.optionsKey["1.5"] ? "checked" : "" %> />
              <span>Loose or missing bird stopping or roof flashing.</span>
            </div>

            <div style="display: flex; align-items: flex-start">
              <span>(6) </span>
              <input type="checkbox" <%=
              questions[1].userAnswer.optionsKey["1.6"] ? "checked" : "" %> />
              <span
                >Rain gutters without metal or noncombustible gutter
                covers.</span
              >
            </div>
          </div>
        </div>
      </div>

      <div>
        <span style="font-weight: bold"
          >4. DEFENSIBLE SPACE REQUIREMENTS (only required to be completed if
          criteria in 1A(2) are met):</span
        >
        <div style="margin-left: 25px">
          <div>
            <span style="font-weight: bold">A. DEFENSIBLE SPACE ADVISORY:</span>
            <span
              >Public Resources Code § 4291 requires that, in order to minimize
              the risk of fire affectinga building or structure on the Property,
              a defensible space around the improvement be maintained within 100
              feet of theimprovement. Many local governments have enacted a
              local vegetation management ordinance for that same
              purpose.(Collective, “defensible space laws.”) Effective July 1,
              2021, Civil Code § 1102.19 requires disclosures regarding
              compliancewith defensible space for certain specified
              properties.</span
            >
          </div>

          <div>
            <span style="font-weight: bold"
              >B. DEFENSIBLE SPACE COMPLIANCE ((1) applies unless (2), (3), or
              (4) is checked):</span
            >
            <div style="margin-left: 10px">
              <span style="font-weight: bold"
                >1) NO LOCAL ORDINANCE, BUYER shall obtain documentation of
                compliance with the State defensible space law;No local
                ordinance:</span
              >
              <span
                >There is no local ordinance requiring proof of compliance with
                defensible space laws. Buyer shallobtain documentation of
                compliancewithin one year ofClose Of Escrow. This requirement
                only applies if there is a stateor local agency, or other
                governmental entity, or qualified non-profit entity in the
                jurisdiction where the Property is locatedthat is authorized to
                inspect the Property and provide documentation of compliance
                (“Authorized Inspector”).</span
              >
            </div>
            <div
              style="
                display: flex;
                align-items: flex-start;
                justify-content: space-evenly;
              "
            >
              <span style="font-weight: bold"> (2) </span>
              <input type="checkbox" <%=
              questions[2].userAnswer.optionsKey["2.1"] ? "checked" : "" %> />
              <span>
                <span style="font-weight: bold"
                  >NO LOCAL ORDINANCE. SELLER within the previous 6 months has
                  already obtained documentation ofcompliance with the State
                  defensible space law:</span
                >
                There is no local ordinance requiring Seller to provide proof
                ofcompliance with defensible space laws, but Seller voluntarily
                obtained documentation within the last 6 months, from
                anAuthorized Inspector. Seller shall deliver documentation to
                Buyer within 7 Days after Acceptance.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="page">
      <div style="margin-left: 25px">
        <div
          style="
            display: flex;
            align-items: flex-start;
            justify-content: space-evenly;
          "
        >
          <span style="font-weight: bold"> (3) </span>
          <input type="checkbox" <%= questions[2].userAnswer.optionsKey["2.2"] ?
          "checked" : "" %> />
          <span>
            <span style="font-weight: bold"
              >LOCAL VEGETATION MANAGEMENT ORDINANCE IN EFFECT. BUYER shall
              obtain documentation ofcompliance with the defensible space
              law:</span
            >
            There is a local ordinance requiring proof of compliance with
            defensiblespace laws
            anditallowseitherSellerorBuyertoobtaindocumentation of compliance.
            Buyer shall comply with therequirements of the ordinance after Close
            Of Escrow.
          </span>
        </div>

        <div
          style="
            display: flex;
            align-items: flex-start;
            justify-content: space-evenly;
          "
        >
          <span style="font-weight: bold"> (4) </span>
          <input type="checkbox" <%= questions[2].userAnswer.optionsKey["2.3"] ?
          "checked" : "" %> />
          <span>
            <span style="font-weight: bold"
              >LOCAL VEGETATION MANAGEMENT ORDINANCE IN EFFECT. SELLER shall
              provide documentation thatProperty is in compliance with
              defensible space law:</span
            >
            There is a local ordinancerequiringSellertoprovideproofofcompliance
            with defensible space laws prior to Close Of Escrow. If Seller has
            already obtained documentation, Sellershall deliver documentation to
            Buyer within 7 Days after Acceptance. If Seller has not yet obtained
            documentation, Sellershall deliver documentation to Buyer 5 days
            prior to Close Of Escrow.
          </span>
        </div>
        <div>
          <span style="font-weight: bold"
            >(5) If (2) or (4) is checked, the local agency from which a copy of
            the documentation may be obtained
          </span>
          <span>
            is ______________________________________ , which may be contacted
            at _____________________
          </span>
        </div>
      </div>
      <div style="display: flex; align-items: flex-start; margin-top: 20px">
        <span style="font-weight: bold">5. </span>
        <input type="checkbox" />
        <span>
          <span style="font-weight: bold"
            >FINAL INSPECTION REPORT (only required to be completed if criteria
            below and in 1A(3) are met):</span
          >Seller hasobtained a final inspection report that includes compliance
          with certain defensible space and home hardening requirements
          pursuantto Government Code § 51182. A copy of the report is attached,
          or a copy may be obtained at _____________________
        </span>
      </div>

      <div style="font-weight: bold; margin-top: 50px">
        Seller represents that Seller has provided the answers on this form and
        that such information is true and correct to the best ofSeller's
        knowledge. Seller acknowledges receipt of this Fire Hardening and
        Defensible Space Advisory, Disclosure, andAddendum and agrees to the
        applicable terms in paragraph 4B.
      </div>

      <div
        style="
          width: 100%;
          display: flex;
          justify-content: space-evenly;
          margin: 20px 0;
        "
      >
        <div style="width: 25%; display: flex">
          <div>Seller:</div>
          <div>_________________</div>
        </div>
        <div style="width: 25%; display: flex">
          <div>Date:</div>
          <div style="text-decoration: underline"><%= date %></div>
        </div>
        <div style="width: 25%; display: flex">
          <div>Buyer:</div>
          <div>_________________</div>
        </div>
        <div style="width: 25%; display: flex">
          <div>Date:</div>
          <div style="text-decoration: underline"><%= date %></div>
        </div>
      </div>

      <div style="font-weight: bold; margin-top: 50px">
        Buyer acknowledges receipt of this Fire Hardening and Defensible Space
        Advisory, Disclosure, and Addendum and agrees tothe applicable terms in
        paragraph 4B.
      </div>

      <div
        style="
          width: 100%;
          display: flex;
          justify-content: space-evenly;
          margin: 20px 0;
        "
      >
        <div style="width: 25%; display: flex">
          <div>Seller:</div>
          <div>_________________</div>
        </div>
        <div style="width: 25%; display: flex">
          <div>Date:</div>
          <div style="text-decoration: underline"><%= date %></div>
        </div>
        <div style="width: 25%; display: flex">
          <div>Buyer:</div>
          <div>_________________</div>
        </div>
        <div style="width: 25%; display: flex">
          <div>Date:</div>
          <div style="text-decoration: underline"><%= date %></div>
        </div>
      </div>
    </div>
  </body>
</html>
