<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Disclouser</title>
    <style>
      * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
      }

      body {
        margin: 0;
        padding: 0;
        background-color: #fafafa;
        font: 13px "Tahoma";
      }
      li {
        list-style: none;
      }

      .page {
        width: 21cm;
        min-height: 29.7cm;
        padding: 0.5cm;
        margin: 1cm auto;
        border: 1px #d3d3d3 solid;
        border-radius: 5px;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      }

      @page {
        size: A4;
        margin: 0;
      }

      @media print {
        .page {
          margin: 0;
          border: initial;
          border-radius: initial;
          width: initial;
          min-height: initial;
          box-shadow: initial;
          background: initial;
          page-break-after: always;
        }
      }
    </style>
  </head>

  <body>
    <div class="page">
      <div class="header" style="width: 100%; text-align: center">
        <h4>REAL ESTATE TRANSFER DISCLOSURE STATEMENT</h4>
        <h6>(CALIFORNIA CIVIL CODE SECTION 1102, ET SEQ.)</h6>
        <p>(C.A.R. Form TDS, Revised 6/20)</p>
      </div>
      <div class="info" style="width: 100%">
        <p style="font-weight: bold">
          THIS DISCLOSURE STATEMENT CONCERNS THE REAL PROPERTY SITUATED IN THE
          CITY OF
          <span style="text-decoration: underline"
            ><%= userAnswerTemplate.property.city %></span
          >
          , COUNTY OF
          <span style="text-decoration: underline">INSERT_COUNTY_NAME</span> ,
          STATE OF CALIFORNIA, DESCRIBED AS
          <span style="text-decoration: underline"
            ><%= userAnswerTemplate.property.addressLine1 %> <%=
            userAnswerTemplate.property.addressLine2 %> <%=
            userAnswerTemplate.property.city %> <%=
            userAnswerTemplate.property.zipCode %> <%=
            userAnswerTemplate.property.state.name %></span
          >
          . THIS STATEMENT IS A DISCLOSURE OF THE CONDITION OF THE ABOVE
          DESCRIBED PROPERTY IN COMPLIANCE WITH SECTION 1102 OF THE CIVIL CODE
          AS OF , 20 . IT IS NOT A WARRANTY OF ANY KIND BY THE SELLER(S) OR ANY
          AGENT(S) REPRESENTING ANY PRINCIPAL(S) IN THIS TRANSACTION, AND IS NOT
          A SUBSTITUTE FOR ANY INSPECTIONS OR WARRANTIES THE PRINCIPAL(S) MAY
          WISH TO OBTAIN.
        </p>
      </div>
      <div class="section1">
        <div style="width: 100%; text-align: center">
          I. COORDINATION WITH OTHER DISCLOSURE FORMS
        </div>
        <div>
          This Real Estate Transfer Disclosure Statement is made pursuant to
          Section 1102 of the Civil Code. Other statutes require disclosures,
          depending upon the details of the particular real estate transaction
          (for example: special study zone and purchase-money liens on
          residential property).
        </div>
        <div>
          <span style="font-weight: bold">Substituted Disclosures:</span> The
          following disclosures and other disclosures required by law, including
          the Natural Hazard Disclosure Report/Statement that may include
          airport annoyances, earthquake, fire, flood, or special assessment
          information, have or will be made in connection with this real estate
          transfer, and are intended to satisfy the disclosure obligations on
          this form, where the subject matter is the same:
        </div>
        <div style="margin: 10px 20px">
          <div style="display: flex">
            <input type="checkbox" name="Substituted_Disclosures" <%=
            questions[0].userAnswer.options["CA_TDS_options1"] ? "checked" :"" %> />
            <div>
              Inspection reports completed pursuant to the contract of sale or
              receipt for deposit.
            </div>
          </div>
          <div style="display: flex">
            <input type="checkbox" name="Substituted_Disclosures" <%=
            questions[0].userAnswer.options.find((item) => item.name ===
            `Additional inspection reports or disclosures`) ? "checked" :"" %>/>
            <div>Additional inspection reports or disclosures:</div>
          </div>
          <div style="display: flex">
            <input type="checkbox" name="Substituted_Disclosures" <%=
            questions[0].userAnswer.options.find((item) => item.name === `No
            substituted disclosures for this transfer`) ? "checked" :"" %> />
            <div>No substituted disclosures for this transfer.</div>
          </div>
        </div>
      </div>

      <div class="section2">
        <div style="text-align: center">II. SELLER’S INFORMATION</div>
        <div>
          The Seller discloses the following information with the knowledge that
          even though this is not a warranty, prospective Buyers may rely on
          this information in deciding whether and on what terms to purchase the
          subject property. Seller hereby authorizes any agent(s) representing
          any principal(s) in this transaction to provide a copy of this
          statement to any person or entity in connection with any actual or
          anticipated sale of the property.
        </div>
        <div style="font-weight: bold; margin-top: 10px">
          THE FOLLOWING ARE REPRESENTATIONS MADE BY THE SELLER(S) AND ARE NOT
          THE REPRESENTATIONS OF THE AGENT(S), IF ANY. THIS INFORMATION IS A
          DISCLOSURE AND IS NOT INTENDED TO BE PART OF ANY CONTRACT BETWEEN THE
          BUYER AND SELLER.
        </div>
        <div style="margin-top: 5px">
          A. The subject property has the items checked below (read across):
        </div>
        <div
          class="item-list"
          style="display: flex; justify-content: space-evenly"
        >
          <div>
            <li style="display: flex">
              <input type="checkbox" />
              <div>Range</div>
            </li>
            <li style="display: flex">
              <input type="checkbox" />
              <div>Oven</div>
            </li>
            <li style="display: flex">
              <input type="checkbox" />
              <div>Microwave</div>
            </li>
            <li style="display: flex">
              <input type="checkbox" />
              <div>Dishwasher</div>
            </li>
            <li style="display: flex">
              <input type="checkbox" />
              <div>Trash Compactor</div>
            </li>
            <li style="display: flex">
              <input type="checkbox" />
              <div>Garbage Disposal</div>
            </li>
            <li style="display: flex">
              <input type="checkbox" />
              <div>Washer/Dryer Hookups</div>
            </li>
            <li style="display: flex">
              <input type="checkbox" />
              <div>Rain Gutters</div>
            </li>
            <li style="display: flex">
              <input type="checkbox" />
              <div>Burglar Alarms</div>
            </li>
            <li style="display: flex">
              <input type="checkbox" />
              <div>Carbon Monoxide</div>
            </li>
            <li style="display: flex">
              <input type="checkbox" />
              <div>Device(s) Smoke Detector(s)</div>
            </li>
            <li style="display: flex">
              <input type="checkbox" />
              <div>Fire Alarm</div>
            </li>
            <li style="display: flex">
              <input type="checkbox" />
              <div>TV Antenna</div>
            </li>
            <li style="display: flex">
              <input type="checkbox" />
              <div>Satellite Dish</div>
            </li>
            <li style="display: flex">
              <input type="checkbox" />
              <div>Intercom</div>
            </li>
            <li style="display: flex">
              <input type="checkbox" />
              <div>Central Heating</div>
            </li>
            <li style="display: flex">
              <input type="checkbox" />
              <div>Central Air Conditioning</div>
            </li>
            <li style="display: flex">
              <input type="checkbox" />
              <div>Evaporator Cooler(s)</div>
            </li>
          </div>

          <div>
            <li style="display: flex">
              <input type="checkbox" />
              <div>Window Air Conditioning</div>
            </li>
            <li style="display: flex">
              <input type="checkbox" />
              <div>Sprinklers</div>
            </li>
            <li style="display: flex">
              <input type="checkbox" />
              <div>Public Sewer System</div>
            </li>
            <li style="display: flex">
              <input type="checkbox" />
              <div>Septic Tank</div>
            </li>
            <li style="display: flex">
              <input type="checkbox" />
              <div>Sump Pump</div>
            </li>
            <li style="display: flex">
              <input type="checkbox" />
              <div>Water Softener</div>
            </li>
            <li style="display: flex">
              <input type="checkbox" />
              <div>Patio/Decking</div>
            </li>
            <li style="display: flex">
              <input type="checkbox" />
              <div>Built-in Barbecue</div>
            </li>
            <li style="display: flex">
              <input type="checkbox" />
              <div>Gazebo</div>
            </li>
            <li style="display: flex">
              <input type="checkbox" />
              <div>Security Gate(s)</div>
            </li>
            <li>
              <div style="display: flex">
                <input type="checkbox" />
                <div>Garage</div>
              </div>
              <div style="margin-left: 15px">
                <div style="display: flex">
                  <div style="display: flex">
                    <input type="checkbox" />
                    <div>Attached</div>
                  </div>
                  <div style="display: flex">
                    <input type="checkbox" />
                    <div>Not Attached</div>
                  </div>
                </div>
                <div style="display: flex">
                  <input type="checkbox" />
                  <div>Carport</div>
                </div>
                <div style="display: flex">
                  <input type="checkbox" />
                  <div>Automatic Garage Opener</div>
                </div>
              </div>
            </li>
            <li style="display: flex">
              <input type="checkbox" />
              <div>Sauna</div>
            </li>
            <li>
              <div style="display: flex">
                <input type="checkbox" />
                <div>Hot Tub/Spa</div>
              </div>
              <div style="margin-left: 15px">
                <div style="display: flex">
                  <input type="checkbox" />
                  <div>Locking Safety Cover</div>
                </div>
              </div>
            </li>
          </div>

          <div>
            <li>
              <div style="display: flex">
                <input type="checkbox" />
                <div>Pool</div>
              </div>
              <div style="margin-left: 15px">
                <div style="display: flex">
                  <input type="checkbox" />
                  <div>Child Resistance Barrier</div>
                </div>
              </div>
            </li>
            <li>
              <div style="display: flex">
                <input type="checkbox" />
                <div>Pool/Spa Heater</div>
              </div>
              <div style="margin-left: 15px">
                <div style="display: flex">
                  <div style="display: flex">
                    <input type="checkbox" />
                    <div>Gas</div>
                  </div>
                  <div style="display: flex">
                    <input type="checkbox" />
                    <div>Solar</div>
                  </div>
                  <div style="display: flex">
                    <input type="checkbox" />
                    <div>Electric</div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div style="display: flex">
                <input type="checkbox" />
                <div>Water Heater</div>
              </div>
              <div style="margin-left: 15px">
                <div style="display: flex">
                  <div style="display: flex">
                    <input type="checkbox" />
                    <div>Gas</div>
                  </div>
                  <div style="display: flex">
                    <input type="checkbox" />
                    <div>Solar</div>
                  </div>
                  <div style="display: flex">
                    <input type="checkbox" />
                    <div>Electric</div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div style="display: flex">
                <input type="checkbox" />
                <div>Water Supply</div>
              </div>
              <div style="margin-left: 15px">
                <div style="display: flex">
                  <div style="display: flex">
                    <input type="checkbox" />
                    <div>City</div>
                  </div>
                  <div style="display: flex">
                    <input type="checkbox" />
                    <div>Well</div>
                  </div>
                </div>
                <div style="display: flex">
                  <div style="display: flex">
                    <input type="checkbox" />
                    <div>Private Utility</div>
                  </div>
                  <div style="display: flex">
                    <input type="checkbox" />
                    <div>Other</div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div style="display: flex">
                <input type="checkbox" />
                <div>Gas Supply</div>
              </div>
              <div style="margin-left: 15px">
                <div style="display: flex">
                  <div style="display: flex">
                    <input type="checkbox" />
                    <div>Utility</div>
                  </div>
                  <div style="display: flex">
                    <input type="checkbox" />
                    <div>Bottled(Tank)</div>
                  </div>
                </div>
              </div>
            </li>
            <li style="display: flex">
              <input type="checkbox" />
              <div>Window Screens</div>
            </li>
            <li>
              <div style="display: flex">
                <input type="checkbox" />
                <div>Window Security Bars</div>
              </div>
              <div style="margin-left: 15px">
                <div style="display: flex">
                  <div style="display: flex">
                    <input type="checkbox" />
                    <div>Quick Release Mechanism on Bedroom Windows</div>
                  </div>
                </div>
              </div>
            </li>
            <li style="display: flex">
              <input type="checkbox" />
              <div>Water-Conserving Plumbing Fixtures</div>
            </li>
          </div>
        </div>
        <div style="width: 100%; display: flex; justify-content: space-evenly">
          <div>
            Exhaust Fan(s) in
            <span style="text-decoration: underline">ANSWER HERE</span>
          </div>
          <div>
            220 Volt Wriring in
            <span style="text-decoration: underline">ANSWER HERE</span>
          </div>
          <div>
            Fireplace(s) in
            <span style="text-decoration: underline">ANSWER HERE</span>
          </div>
        </div>
        <div style="width: 100%; display: flex; justify-content: space-evenly">
          <div style="display: flex">
            <input type="checkbox" />
            <div>Gas Starter</div>
            <div>__________________</div>
          </div>
          <div style="display: flex">
            <input type="checkbox" />
            <div>Roof(s) Type</div>
            <div>__________________</div>
          </div>
          <div style="display: flex">
            <div>Age</div>
            <div>__________________</div>
          </div>
        </div>
        <div style="display: flex">
          Are there, to the best of your (Seller's) knowledge, any of the above
          that are not in operating condition?
          <span style="display: flex">
            <input type="checkbox" />
            <span>yes</span>
          </span>
          <span style="display: flex">
            <input type="checkbox" />
            <span>no</span>
          </span>
        </div>
        <div>if yes, then describe</div>
      </div>

      <div
        class="sign"
        style="
          width: 100%;
          display: flex;
          justify-content: space-between;
          margin-top: 20px;
        "
      >
        <div style="display: flex">
          <div>Buyer's Initials</div>
          <div>_______________</div>
        </div>
        <div style="display: flex">
          <div>Seller's Initials</div>
          <div>_______________</div>
        </div>
      </div>
    </div>

    <div class="page">
      <div style="display: flex">
        <div>
          B. Are you (Seller) aware of any significant defects/malfunctions in
          any of the following?
        </div>
        <div style="display: flex">
          <input type="checkbox" />
          <div>Yes</div>
        </div>
        <div style="display: flex">
          <input type="checkbox" />
          <div>No</div>
        </div>
        <div>If yes, check appropriate space(s) below.</div>
      </div>
      <div style="width: 100%; display: flex; margin-top: 10px">
        <div style="display: flex">
          <input type="checkbox" />
          <div>Interior Walls</div>
        </div>
        <div style="display: flex">
          <input type="checkbox" />
          <div>Ceilings</div>
        </div>
        <div style="display: flex">
          <input type="checkbox" />
          <div>Floors</div>
        </div>
        <div style="display: flex">
          <input type="checkbox" />
          <div>Exterior Walls</div>
        </div>
        <div style="display: flex">
          <input type="checkbox" />
          <div>Insulation</div>
        </div>
        <div style="display: flex">
          <input type="checkbox" />
          <div>Roof(s)</div>
        </div>
        <div style="display: flex">
          <input type="checkbox" />
          <div>Windows</div>
        </div>
        <div style="display: flex">
          <input type="checkbox" />
          <div>Doors</div>
        </div>
        <div style="display: flex">
          <input type="checkbox" />
          <div>Foundation</div>
        </div>
        <div style="display: flex">
          <input type="checkbox" />
          <div>Slab(s)</div>
        </div>
      </div>
      <div style="width: 100%; display: flex; margin-top: 10px">
        <div style="display: flex">
          <input type="checkbox" />
          <div>Driveways</div>
        </div>
        <div style="display: flex">
          <input type="checkbox" />
          <div>Sidewalks</div>
        </div>
        <div style="display: flex">
          <input type="checkbox" />
          <div>Walls/Fences</div>
        </div>
        <div style="display: flex">
          <input type="checkbox" />
          <div>Electrical Systems</div>
        </div>
        <div style="display: flex">
          <input type="checkbox" />
          <div>Plumbing/Sewers/Septics</div>
        </div>
        <div style="display: flex">
          <input type="checkbox" />
          <div>Other Structural Components</div>
        </div>
      </div>
      <div style="margin-top: 5px">
        *Installation of a listed appliance, device, or amenity is not a
        precondition of sale or transfer of the dwelling. The carbon monoxide
        device, garage door opener, or child-resistant pool barrier may not be
        in compliance with the safety standards relating to, respectively,
        carbon monoxide device standards of Chapter 8 (commencing with Section
        13260) of Part 2 of Division 12 of, automatic reversing device standards
        of Chapter 12.5 (commencing with Section 19890) of Part 3 of Division 13
        of, or the pool safety standards of Article 2.5 (commencing with Section
        115920) of Chapter 5 of Part 10 of Division 104 of, the Health and
        Safety Code. Window security bars may not have quick-release mechanisms
        in compliance with the 1995 edition of the California Building Standards
        Code. Section 1101.4 of the Civil Code requires all single-family
        residences built on or before January 1, 1994, to be equipped with
        water-conserving plumbing fixtures after January 1, 2017. Additionally,
        on and after January 1, 2014, a single-family residence built on or
        before January 1, 1994, that is altered or improved is required to be
        equipped with water-conserving plumbing fixtures as a condition of final
        approval. Fixtures in this dwelling may not comply with section 1101.4
        of the Civil Code.
      </div>
      <div>C. Are you (Seller) aware of any the following:</div>
      <ul>
        <li style="display: flex; justify-content: space-between">
          <div>
            <span style="font-weight: bold">1.</span> Substances, materials, or
            products which may be an environmental hazard such as, but not
            limited to, asbestos, formaldehyde, radon gas, lead-based paint,
            mold, fuel or chemical storage tanks, and contaminated soil or water
            on the subject property
          </div>
          <div style="display: flex">
            <div style="display: flex">
              <input type="checkbox" />
              <div>Yes</div>
            </div>
            <div style="display: flex">
              <input type="checkbox" />
              <div>No</div>
            </div>
          </div>
        </li>
        <li style="display: flex; justify-content: space-between">
          <div>
            <span style="font-weight: bold">2.</span> Features of the property
            shared in common with adjoining landowners, such as walls, fences,
            and driveways, whose use or responsibility for maintenance may have
            an effect on the subject property
          </div>
          <div style="display: flex">
            <div style="display: flex">
              <input type="checkbox" />
              <div>Yes</div>
            </div>
            <div style="display: flex">
              <input type="checkbox" />
              <div>No</div>
            </div>
          </div>
        </li>
        <li style="display: flex; justify-content: space-between">
          <div>
            <span style="font-weight: bold">3.</span> Any encroachments,
            easements or similar matters that may affect your interest in the
            subject property
          </div>
          <div style="display: flex">
            <div style="display: flex">
              <input type="checkbox" />
              <div>Yes</div>
            </div>
            <div style="display: flex">
              <input type="checkbox" />
              <div>No</div>
            </div>
          </div>
        </li>
        <li style="display: flex; justify-content: space-between">
          <div>
            <span style="font-weight: bold">4.</span> Room additions, structural
            modifications, or other alterations or repairs made without
            necessary permits
          </div>
          <div style="display: flex">
            <div style="display: flex">
              <input type="checkbox" />
              <div>Yes</div>
            </div>
            <div style="display: flex">
              <input type="checkbox" />
              <div>No</div>
            </div>
          </div>
        </li>
        <li style="display: flex; justify-content: space-between">
          <div>
            <span style="font-weight: bold">5.</span> Room additions, structural
            modifications, or other alterations or repairs not in compliance
            with building codes
          </div>
          <div style="display: flex">
            <div style="display: flex">
              <input type="checkbox" />
              <div>Yes</div>
            </div>
            <div style="display: flex">
              <input type="checkbox" />
              <div>No</div>
            </div>
          </div>
        </li>
        <li style="display: flex; justify-content: space-between">
          <div>
            <span style="font-weight: bold">6.</span> Fill (compacted or
            otherwise) on the property or any portion thereof
          </div>
          <div style="display: flex">
            <div style="display: flex">
              <input type="checkbox" />
              <div>Yes</div>
            </div>
            <div style="display: flex">
              <input type="checkbox" />
              <div>No</div>
            </div>
          </div>
        </li>
        <li style="display: flex; justify-content: space-between">
          <div>
            <span style="font-weight: bold">7.</span> Any settling from any
            cause, or slippage, sliding, or other soil problems
          </div>
          <div style="display: flex">
            <div style="display: flex">
              <input type="checkbox" />
              <div>Yes</div>
            </div>
            <div style="display: flex">
              <input type="checkbox" />
              <div>No</div>
            </div>
          </div>
        </li>
        <li style="display: flex; justify-content: space-between">
          <div>
            <span style="font-weight: bold">8.</span> Flooding, drainage or
            grading problems
          </div>
          <div style="display: flex">
            <div style="display: flex">
              <input type="checkbox" />
              <div>Yes</div>
            </div>
            <div style="display: flex">
              <input type="checkbox" />
              <div>No</div>
            </div>
          </div>
        </li>
        <li style="display: flex; justify-content: space-between">
          <div>
            <span style="font-weight: bold">9.</span> Major damage to the
            property or any of the structures from fire, earthquake, floods, or
            landslides
          </div>
          <div style="display: flex">
            <div style="display: flex">
              <input type="checkbox" />
              <div>Yes</div>
            </div>
            <div style="display: flex">
              <input type="checkbox" />
              <div>No</div>
            </div>
          </div>
        </li>
        <li style="display: flex; justify-content: space-between">
          <div>
            <span style="font-weight: bold">10.</span> Any zoning violations,
            nonconforming uses, violations of "setback" requirements
          </div>
          <div style="display: flex">
            <div style="display: flex">
              <input type="checkbox" />
              <div>Yes</div>
            </div>
            <div style="display: flex">
              <input type="checkbox" />
              <div>No</div>
            </div>
          </div>
        </li>
        <li style="display: flex; justify-content: space-between">
          <div>
            <span style="font-weight: bold">11. </span>Neighborhood noise
            problems or other nuisances
          </div>
          <div style="display: flex">
            <div style="display: flex">
              <input type="checkbox" />
              <div>Yes</div>
            </div>
            <div style="display: flex">
              <input type="checkbox" />
              <div>No</div>
            </div>
          </div>
        </li>
        <li style="display: flex; justify-content: space-between">
          <div>
            <span style="font-weight: bold">12.</span>CC&R's or other deed
            restrictions or obligations
          </div>
          <div style="display: flex">
            <div style="display: flex">
              <input type="checkbox" />
              <div>Yes</div>
            </div>
            <div style="display: flex">
              <input type="checkbox" />
              <div>No</div>
            </div>
          </div>
        </li>
        <li style="display: flex; justify-content: space-between">
          <div>
            <span style="font-weight: bold">13. </span>Homeowners' Association
            which has any authority over the subject property
          </div>
          <div style="display: flex">
            <div style="display: flex">
              <input type="checkbox" />
              <div>Yes</div>
            </div>
            <div style="display: flex">
              <input type="checkbox" />
              <div>No</div>
            </div>
          </div>
        </li>
        <li style="display: flex; justify-content: space-between">
          <div>
            <span style="font-weight: bold">14. </span>Any "common area"
            (facilities such as pools, tennis courts, walkways, or other areas
            co-owned in undivided interest with others)
          </div>
          <div style="display: flex">
            <div style="display: flex">
              <input type="checkbox" />
              <div>Yes</div>
            </div>
            <div style="display: flex">
              <input type="checkbox" />
              <div>No</div>
            </div>
          </div>
        </li>
        <li style="display: flex; justify-content: space-between">
          <div>
            <span style="font-weight: bold">15. </span>Any notices of abatement
            or citations against the property
          </div>
          <div style="display: flex">
            <div style="display: flex">
              <input type="checkbox" />
              <div>Yes</div>
            </div>
            <div style="display: flex">
              <input type="checkbox" />
              <div>No</div>
            </div>
          </div>
        </li>
        <li style="display: flex; justify-content: space-between">
          <div>
            <span style="font-weight: bold">16. </span>Any lawsuits by or
            against the Seller threatening to or affecting this real property,
            claims for damages by the Seller pursuant to Section 910 or 914 of
            the Civil Code threatening to or affecting this real property,
            claims for breach of warranty pursuant to Section 900 of the Civil
            Code threatening to or affecting this real property, or claims for
            breach of an enhanced protection agreement pursuant to Section 903
            of the Civil Code threatening to or affecting this real property,
            including any lawsuits or claims for damages pursuant to Section 910
            or 914 of the Civil Code alleging a defect or deficiency in this
            real property or “common areas” (facilities such as pools, tennis
            courts, walkways, or other areas co-owned in undivided interest with
            others)
          </div>
          <div style="display: flex">
            <div style="display: flex">
              <input type="checkbox" />
              <div>Yes</div>
            </div>
            <div style="display: flex">
              <input type="checkbox" />
              <div>No</div>
            </div>
          </div>
        </li>
      </ul>
      <div>
        <div style="font-weight: bold">D.</div>
        <div>
          <span style="font-weight: bold">1.</span> The Seller certifies that
          the property, as of the close of escrow, will be in compliance with
          Section 13113.8 of the Health and Safety Code by having operable smoke
          detector(s) which are approved, listed, and installed in accordance
          with the State Fire Marshal's regulations and applicable local
          standards.
        </div>
        <div>
          <span style="font-weight: bold">2.</span> The Seller certifies that
          the property, as of the close of escrow, will be in compliance with
          Section 19211 of the Health and Safety Code by having the water heater
          tank(s) braced, anchored, or strapped in place in accordance with
          applicable law.
        </div>
      </div>
      <div
        class="sign"
        style="
          width: 100%;
          display: flex;
          justify-content: space-between;
          margin-top: 20px;
        "
      >
        <div style="display: flex">
          <div>Buyer's Initials</div>
          <div>_______________</div>
        </div>
        <div style="display: flex">
          <div>Seller's Initials</div>
          <div>_______________</div>
        </div>
      </div>
    </div>

    <div class="page">
      <div style="width: 100%; display: flex; justify-content: space-evenly">
        <div style="width: 75%; display: flex">
          <div>Property Address:</div>
          <div style="text-decoration: underline">ADRESS_HERE</div>
        </div>
        <div style="width: 25%; display: flex">
          <div>Date:</div>
          <div style="text-decoration: underline">DATE_HERE</div>
        </div>
      </div>
      <div style="font-weight: bold; margin: 10px 0">
        Seller certifies that the information herein is true and correct to the
        best of the Seller's knowledge as of the date signed by the Seller.
      </div>
      <div
        style="
          width: 100%;
          display: flex;
          justify-content: space-evenly;
          margin-top: 20px;
        "
      >
        <div style="width: 75%; display: flex">
          <div>Seller:</div>
          <div style="text-decoration: underline">
            ________________________________________________________________________
          </div>
        </div>
        <div style="width: 25%; display: flex">
          <div>Date:</div>
          <div style="text-decoration: underline">DATE_HERE</div>
        </div>
      </div>
      <div
        style="
          width: 100%;
          display: flex;
          justify-content: space-evenly;
          margin: 20px 0;
        "
      >
        <div style="width: 75%; display: flex">
          <div>Seller:</div>
          <div style="text-decoration: underline">
            ________________________________________________________________________
          </div>
        </div>
        <div style="width: 25%; display: flex">
          <div>Date:</div>
          <div style="text-decoration: underline">DATE_HERE</div>
        </div>
      </div>

      <div>
        <div style="text-align: center; font-weight: bold">
          III. AGENT'S INSPECTION DISCLOSURE
        </div>
        <div style="text-align: center; margin: 10px 0">
          (To be completed only if the Seller is represented by an agent in this
          transaction.)
        </div>
        <div style="font-weight: bold">
          THE UNDERSIGNED, BASED ON THE ABOVE INQUIRY OF THE SELLER(S) AS TO THE
          CONDITION OF THE PROPERTY AND BASED ON A REASONABLY COMPETENT AND
          DILIGENT VISUAL INSPECTION OF THE ACCESSIBLE AREAS OF THE PROPERTY IN
          CONJUNCTION WITH THAT INQUIRY, STATES THE FOLLOWING:
        </div>
        <div>
          <div style="display: flex">
            <input type="checkbox" />
            <div>
              See attached Agent Visual Inspection Disclosure (AVID Form)
            </div>
          </div>
          <div style="display: flex">
            <input type="checkbox" />
            <div>Agent notes no items for disclosure.</div>
          </div>
          <div style="display: flex">
            <input type="checkbox" />
            <div>Agent notes the following items:</div>
          </div>
          <div style="text-align: center">
            _________________________________________________________________________________________________________________
            _________________________________________________________________________________________________________________
            _________________________________________________________________________________________________________________
            _________________________________________________________________________________________________________________
          </div>

          <div style="display: flex; justify-content: space-evenly">
            <div style="display: flex">
              <div>Agent (Broker Obtaining the Offer)</div>
              <div>__________________________________</div>
            </div>
            <div style="display: flex">
              <div>By</div>
              <div>____________</div>
            </div>
            <div style="display: flex">
              <div>Date</div>
              <div>____________</div>
            </div>
          </div>
        </div>
      </div>

      <div style="margin-top: 20px">
        <div style="text-align: center; font-weight: bold">
          IV. AGENT'S INSPECTION DISCLOSURE
        </div>
        <div style="text-align: center; margin: 10px 0">
          (To be completed only if the agent who has obtained the offer is other
          than the agent above.)
        </div>
        <div style="font-weight: bold">
          THE UNDERSIGNED, BASED ON THE ABOVE INQUIRY OF THE SELLER(S) AS TO THE
          CONDITION OF THE PROPERTY AND BASED ON A REASONABLY COMPETENT AND
          DILIGENT VISUAL INSPECTION OF THE ACCESSIBLE AREAS OF THE PROPERTY IN
          CONJUNCTION WITH THAT INQUIRY, STATES THE FOLLOWING:
        </div>
        <div>
          <div style="display: flex">
            <input type="checkbox" />
            <div>
              See attached Agent Visual Inspection Disclosure (AVID Form)
            </div>
          </div>
          <div style="display: flex">
            <input type="checkbox" />
            <div>Agent notes no items for disclosure.</div>
          </div>
          <div style="display: flex">
            <input type="checkbox" />
            <div>Agent notes the following items:</div>
          </div>
          <div style="text-align: center">
            _________________________________________________________________________________________________________________
            _________________________________________________________________________________________________________________
            _________________________________________________________________________________________________________________
            _________________________________________________________________________________________________________________
          </div>

          <div
            style="
              display: flex;
              justify-content: space-evenly;
              margin: 20px 0;
              width: 100%;
            "
          >
            <div style="display: flex; width: 70%">
              <div>Agent (Broker Obtaining the Offer)</div>
              <div>__________________________________</div>
            </div>
            <div style="display: flex; width: 15%">
              <div>By</div>
              <div>____________</div>
            </div>
            <div style="display: flex; width: 15%">
              <div>Date</div>
              <div>____________</div>
            </div>
          </div>
        </div>
      </div>

      <div style="font-weight: bold; margin-top: 20px">
        5. BUYER(S) AND SELLER(S) MAY WISH TO OBTAIN PROFESSIONAL ADVICE AND/OR
        INSPECTIONS OF THE PROPERTY AND TO PROVIDE FOR APPROPRIATE PROVISIONS IN
        A CONTRACT BETWEEN BUYER AND SELLER(S) WITH RESPECT TO ANY
        ADVICE/INSPECTIONS/DEFECTS.
      </div>

      <div
        style="
          width: 100%;
          display: flex;
          justify-content: space-evenly;
          margin: 20px 0;
        "
      >
        <div style="width: 25%; display: flex">
          <div>Seller:</div>
          <div>_________________</div>
        </div>
        <div style="width: 25%; display: flex">
          <div>Date:</div>
          <div>__________</div>
        </div>
        <div style="width: 25%; display: flex">
          <div>Buyer:</div>
          <div>_________________</div>
        </div>
        <div style="width: 25%; display: flex">
          <div>Date:</div>
          <div>__________</div>
        </div>
      </div>

      <div
        style="
          width: 100%;
          display: flex;
          justify-content: space-evenly;
          margin: 20px 0;
        "
      >
        <div style="width: 25%; display: flex">
          <div>Seller:</div>
          <div>_________________</div>
        </div>
        <div style="width: 25%; display: flex">
          <div>Date:</div>
          <div>__________</div>
        </div>
        <div style="width: 25%; display: flex">
          <div>Buyer:</div>
          <div>_________________</div>
        </div>
        <div style="width: 25%; display: flex">
          <div>Date:</div>
          <div>__________</div>
        </div>
      </div>

      <div
        style="
          display: flex;
          justify-content: space-evenly;
          margin: 20px 0;
          width: 100%;
        "
      >
        <div style="display: flex; width: 70%">
          <div>Agent (Broker Obtaining the Offer)</div>
          <div>__________________________________</div>
        </div>
        <div style="display: flex; width: 15%">
          <div>By</div>
          <div>____________</div>
        </div>
        <div style="display: flex; width: 15%">
          <div>Date</div>
          <div>____________</div>
        </div>
      </div>

      <div
        style="
          display: flex;
          justify-content: space-evenly;
          margin: 20px 0;
          width: 100%;
        "
      >
        <div style="display: flex; width: 70%">
          <div>Agent (Broker Obtaining the Offer)</div>
          <div>__________________________________</div>
        </div>
        <div style="display: flex; width: 15%">
          <div>By</div>
          <div>____________</div>
        </div>
        <div style="display: flex; width: 15%">
          <div>Date</div>
          <div>____________</div>
        </div>
      </div>

      <div style="font-weight: bold">
        SECTION 1102.3 OF THE CIVIL CODE PROVIDES A BUYER WITH THE RIGHT TO
        RESCIND A PURCHASE CONTRACT FOR AT LEAST THREE DAYS AFTER THE DELIVERY
        OF THIS DISCLOSURE IF DELIVERY OCCURS AFTER THE SIGNING OF AN OFFER TO
        PURCHASE. IF YOU WISH TO RESCIND THE CONTRACT, YOU MUST ACT WITHIN THE
        PRESCRIBED PERIOD.
      </div>

      <div style="font-weight: bold; margin-top: 10px">
        A REAL ESTATE BROKER IS QUALIFIED TO ADVISE ON REAL ESTATE. IF YOU
        DESIRE LEGAL ADVICE, CONSULT YOUR ATTORNEY.
      </div>
    </div>
  </body>
</html>
